@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis-Regular.ttf);
  font-weight: bold;
}

@font-face {
  font-family: DosisMedium;
  src: url(../fonts/Dosis-Medium.ttf);
  font-weight: bold;
}

@font-face {
  font-family: DosisSemiBold;
  src: url(../fonts/Dosis-SemiBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: DosisBold;
  src: url(../fonts/Dosis-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: DosisLight;
  src: url(../fonts/Dosis-Light.ttf);
  font-weight: bold;
}

.overviewTitle {
  font-family: DosisMedium;
  font-size: 80px;

  color: #ffffff;
}

.overviewText {
  font-family: Dosis;
  font-size: 40px;

  color: #ffffff;
  margin-top: -50px;
}
