@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis-Regular.ttf);
  font-weight: bold;
}

@font-face {
  font-family: DosisMedium;
  src: url(../fonts/Dosis-Medium.ttf);
  font-weight: bold;
}

@font-face {
  font-family: DosisSemiBold;
  src: url(../fonts/Dosis-SemiBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: DosisBold;
  src: url(../fonts/Dosis-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: DosisLight;
  src: url(../fonts/Dosis-Light.ttf);
  font-weight: bold;
}
/* 3D modelling  */

/* Web Development */

/* Roblox Studio */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.robloxContainer {
  margin-top: 30px;
}

.titleContainer {
  width: 52%;
  height: 185px;

  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-image: -moz-radial-gradient(
    circle,
    rgba(138, 138, 138, 0.059) 0%,
    rgba(0, 0, 0, 0.066) 100%,
    rgba(0, 0, 0, 0.064) 100%,
    rgba(0, 0, 0, 0.03) 50%
  );
  border-radius: 40%;
  backdrop-filter: blur(10px);
}

.robloxTitle {
  font-family: DosisMedium;
  font-size: 100px;
  margin: 0;
  margin-left: 30px;
  color: #ffffff;
}

.robloxFun {
  position: absolute;
  display: grid;
  margin-left: 80%;
  margin-top: -100px;
}

.player {
  height: 250px;
}

.playerText {
  height: 120px;
  transform: rotate(10deg);
}

.projectContainerR {
  margin-top: 60px;
  z-index: 3;

  border-radius: 30px;
  backdrop-filter: blur(10px);

  width: 50%;
  padding-bottom: 40px;
}

.projectTitleR {
  font-family: DosisMedium;
  font-size: 80px;
  margin-top: 0;
  text-align: center;
  color: #ffffff;
}

.overviewContainer {
  width: 38%;
  height: 500px;
  text-align: center;
  margin-top: -20px;
  z-index: 3;
  margin-bottom: 20px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}

.polaroidHolder {
  position: absolute;
  margin-top: -1000px;
  margin-left: 100px;
}

.construction {
  width: 700px;
}

/* About me */

.aboutMeTitle {
  width: 52%;
  height: 585px;
  margin-left: 45%;
  text-align: center;
  margin-top: 60px;
  z-index: 3;
  background-image: -moz-radial-gradient(
    circle,
    rgba(255, 255, 255, 0.059) 0%,
    rgba(0, 0, 0, 0.066) 100%,
    rgba(0, 0, 0, 0.064) 100%,
    rgba(0, 0, 0, 0.03) 50%
  );
  border-radius: 30px;
  backdrop-filter: blur(10px);
}

.abtMeTitle {
  font-family: DosisMedium;
  font-size: 60px;
  margin: 0;
  color: #ffffff;
}
.abtMeTitle > span {
  margin-left: 5px;
  color: rgb(0, 255, 0);
  font-family: dosisSemiBold;
}

.abtMeText {
  margin-top: 40px;
  font-family: Dosis;
  font-size: 35px;

  color: #ffffff;
}

.abtMeText2 {
  font-family: DosisLight;
  font-size: 30px;
  margin-left: 0;
  color: #ffffff;
  display: flex;
}

.sectionText {
  font-family: Dosis;
  font-size: 40px;
  margin-left: 15%;
  max-width: 550px;
  color: #ffffff;
  display: flex;
}

.sectionButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 42%;
  height: 130px;
  background-image: -moz-radial-gradient(
    circle,
    rgba(255, 255, 255, 0.018) 0%,
    rgba(62, 62, 62, 0.034) 100%,
    rgba(0, 0, 0, 0.064) 100%,
    rgba(0, 0, 0, 0.03) 50%
  );
  backdrop-filter: blur(10px);
  margin-top: -130px;
  margin-left: 1.5%;
  border-radius: 20%;
}

.sectionButtons > button {
  transition: 1s;
  cursor: pointer;
  width: 30%;
  height: 60px;
  background-color: #212121;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  font-family: Dosis;
  font-size: 20px;
}

.buttonR:hover {
  transition: 0.2s;
  border: 1px solid rgb(75, 225, 248);
  box-shadow: 0px 1px 40px 0px rgba(75, 225, 248, 0.091);
  color: rgb(75, 225, 248);
}

.buttonW:hover {
  transition: 0.2s;
  border: 1px solid rgb(248, 190, 75);
  box-shadow: 0px 1px 40px 0px rgba(248, 190, 75, 0.091);
  color: rgb(248, 190, 75);
}

.buttonT:hover {
  transition: 0.2s;
  border: 1px solid rgb(75, 248, 75);
  box-shadow: 0px 1px 40px 0px rgba(75, 248, 75, 0.091);
  color: rgb(75, 248, 75);
}

.imageHolder {
  position: absolute;
  height: 500px;
  width: 500px;

  margin-top: -600px;
  margin-left: 10%;
}

.imageHolder > div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin-left: -15%;
  margin-top: 10px;
}

.imageHolder > div > img {
  margin-top: -50px;
  height: 550px;
}

.hide1 {
  transition: 0.5s;
  opacity: 0;
  filter: blur(15px);
}

.hide2 {
  transition: 0.5s;
  opacity: 0;
  filter: blur(15px);
}

.hide3 {
  transition: 0.5s;
  opacity: 0;
  filter: blur(15px);
}

.hide4 {
  transition: 0.5s;
  opacity: 0;
  filter: blur(15px);
}

.show1 {
  transition: 0.5s;
  filter: blur(0px);
}

.show2 {
  transition: 0.5s;
  filter: blur(0px);
}
.show3 {
  transition: 0.5s;
  filter: blur(0px);
}

.show4 {
  transition: 0.5s;
  filter: blur(0px);
}
